<!DOCTYPE html>

<html>

<head>

    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>

<body>

    <title>Blogz</title>
    <img src="/static/beach.jpg" >
    
      <nav>
        <li><a id='active'  href="/">Home</a></li>
        <li><a  href="/blog">Main Blog Page</a></li>
        <li><a   href="/newpost">Add a Blog Entry</a></li>
        <li  style="float:right" ><a href="/login">Login</a></li>
        <li  style="float:right" ><a href="/logout">Logout</a></li>
      
      </nav>  

      
    {% with messages = get_flashed_messages(with_categories=True) %}
    
      <ul>

      {% for category, message in messages %}

        <li class="{{category}}">{{message}}</li>

      {% endfor %}

      </ul>
   
    {% endwith %}
    

    {% block content %}

    {% endblock %}


</body>


</html>