<!DOCTYPE html>

<html>

<head>

    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>

<body>

    <title>Blogz</title>
    <img src="/static/beach.jpg" >
    
    <nav>
       
            <li><a id='active'  href="/">Home</a></li>
            <li><a  href="/blog">All Blogs</a></li>
            <li><a  href="/newpost">Add a New Blog</a></li>

        {% if "username" in session %}
           
            <li style="float:right"><a href="/logout">Log Out</a></li>
            
        {% else %}
         
            <li style="float:right"><a href="/login">Log In</a></li>

        {% endif%}
      
    </nav>  

      
    {% with messages = get_flashed_messages(with_categories=True) %}
    
      <ul>

      {% for category, message in messages %}

        <li class="{{category}}">{{message}}</li>

      {% endfor %}

      </ul>
   
    {% endwith %}
    

    {% block content %}

    {% endblock %}


</body>


</html>